{% extends "layout.html" %}
{% block content %}
    <div class="about">
      <p>If you have any questions about this website, please contact any of us.</p>
      <ul>
      	<li>Yilin Lyu: <a href='yl3832@columbia.edu'>yl3932@columbia.edu</a> </li>
	<li>Shan Guan: <a href='sg3506@columbia.edu'>sg3506@columbia.edu</a> </li>
	<li>Yiyi Zhang: <a href='yz3280@columbia.edu'>yz3280@columbia.edu</a> </li>
	<li>Liangliang Huang: <a href='lh2863@columbia.edu'>lh2863@columbia.edu</a> </li>
      </ul>
    </div>
{% endblock %}